img {
    width: 40%;
}

.receta-lista {

    padding: 10px 20px;

}

.receta-lista-nombre {

    font-size: 22px;
    font-weight: 500;

}

.receta-lista-cocinero {

    font-size: 18px;
    font-style: italic;
    color: gray;

}