<h2> Tareas </h2>
<p> Ejemplo de Provider o Sevicion para hacer un CRUD completo, contra un servicio Rest</p>

<div *ngIf="mensaje" class="alert alert-primary" role="alert">
    {{mensaje}}
  </div>

<div class="container-fondo-tareas d-flex justify-content-center">

    <div class="container-lista-tareas">

        <div class="row">
            <div class="col input-group">
                <input class="form-control" type="text" [(ngModel)] = "tituloNuevo"> 
                <button class="input-group-text" (click) = "crearTarea()"> <b>Crear tarea</b></button>
            </div>
        </div>    
             
        <div class="row justify-content-center pb-2">
            <div class="col">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let tarea of tareas" (click)="modoEdicion = true">
                        <div class="row">
                            <div class="col-11">
                                <input type="checkbox" [checked]="tarea.completada" (click)=editarEstado(tarea)>
                                <b> {{tarea.id}} </b>
                                <input type="text" [(ngModel)]="tarea.titulo" 
                                (blur)="cambiarTitulo(tarea); modoEdicion = false"
                                [disabled]="!modoEdicion"
                                class="titulo {{ (tarea.completada) ? 'completada' : '' }}" />
                            </div>
                            <div class="col-1 d-flex justify-content-center">
                                <i class="fas fa-trash ml-3" (click) = eliminarTarea(tarea)></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>