<h1>Iniciar sesion</h1>
<h2> Formulario reactivo </h2>
<p class="text-warning"> Acordarse de imporat en el app.module.ts el <code>ReactiveFormModule</code></p>


<div class="row">
    <div class="col">

        <pre>{{ formulario.value | json }}</pre>             
        <pre>{{ formulario.status | json }}</pre>  

        <form  [formGroup] = "formulario" (ngSubmit)="enviar(formulario.value)">
            <input class="form-control" type="text" formControlName="nombre" />
            <br>
            <input  class="form-control" type="password" formControlName="passwd" />
            <br>
            <input class="btn bg-primary btn-block" type="submit" [disabled]="formulario.invalid" value="Enviar">
        </form>
    </div>  <!-- /.col-1-->
    <div class="col">
        <h3>FormControl para <b>pass</b></h3>
        <a href="https://angular.io/api/forms/FormControl" target="_blank">Documentacion</a>

        <pre>valid: <b>{{ formulario.controls.passwd.valid | json }}</b></pre>      
        <pre>invalid: <b>{{ formulario.controls.passwd.invalid | json }}</b></pre>      
        <pre>dirty: el usuario ha modificado el valor del control <b>{{ formulario.controls.passwd.dirty | json }}</b></pre>      
        <pre>pristine: el valor del control no ha sido cambiado por el usuario <b>{{ formulario.controls.passwd.pristine | json }}</b></pre>      
        <pre>touched: el usuario ha tocado el control lanzando un evento <code>blur</code> al salir <b>{{ formulario.controls.passwd.touched | json }}</b></pre>      
        <pre>untouched: el usuario no ha tocado y salido del control lanzando ningún evento <code>blur</code> <b>{{ formulario.controls.passwd.untouched | json }}</b></pre>      
        <pre>Errors: errores de validaciones <b>{{ formulario.controls.passwd.errors | json }}</b></pre>      
    </div> <!-- /.col-2-->
</div>
