<div class="row d-flex flex-column">
    <div class="col mb-3">
        <div class="input-group">
            <input type="search" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar pokemon por nombre">
            <div class="input-group-append"><span class="input-group-text"><span class="fas fa-search" (click)="buscar(habilidades)" ></span></span></div>            
        </div>
    </div>
    <div class="col ml-3">
        <div class="form-group container-habilidades">
            <div class="row">
                <label for="options">Filtro de habilidades: </label>
            </div>
            <div class="row">
                <div class="col" *ngFor="let habilidad of habilidadesFiltro" >
                    <label>
                        <input type="checkbox"
                               name="habilidadesFiltro"
                               value="{{habilidad.name}}"
                               [(ngModel)]="habilidad.checked"/>
                               {{habilidad.value}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col ml-3">
        <button (click)="actualizarHabilidades(habilidadesFiltro)">sdfsdfsdf</button>
    </div>
</div>
<div class="row mt-1 mb-4"><h2> Lista de Pokemons </h2></div>
<div class="row flex-row">
    <div class="col col-5">
        <div class="row pokemon-lista" *ngFor="let pokemon of listaPokemon | pokemonsFiltro : busqueda : habilidadesFinal" (click)="selecionarPokemon(pokemon)">
            <div class="col-2 pokemon-id d-flex justify-content-center p-3"> {{pokemon.id}}  </div>
            <div class="col pokemon-nombre d-flex justify-content-start p-3 {{ (pokemon==pokemonSeleccionado) ? 'activo' : ''  }}">{{pokemon.nombre}}</div>
        </div>    
    </div>
    <div class="col col-7">
        <div class="card d-flex flex-row" style="width: 19rem;">
            <img class="card-img-top" src="{{pokemonSeleccionado.imagen}}" alt="imagen {{pokemonSeleccionado.nombre}}">
            <div class="card-body active">
                <h5 class="card-title mb-4">{{pokemonSeleccionado.nombre}}</h5>
                <h5 class="card-subtitle">Lista de habilidades</h5>
                <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let habilidad of pokemonSeleccionado.habilidades">{{habilidad.nombre}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
