<div class="row d-flex flex-column">
    <div class="col noticia">
        <div class="card mb-3">
            <img class="card-img-top imagen-card" src="{{noticia.imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{noticia.titulo}}</h5>
              <div class="mb-3"><small class="text-muted font-italic">Fecha de publicacion : {{noticia.fecha}}</small></div>
              <div [innerHtml]="noticia.textoCorto"></div>
              <div class="mt-2" [innerHtml]="noticia.textoNoticia"></div>
            </div>
    </div>
</div>